@import url(./fonts/fonts.css);
body {
    background-color: white !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    background-color: #DBEEFF;
    height: 10px;
}

li {
    list-style: none;
    margin-right: 10px;
    transition: all .4s;
    cursor: pointer;
    color: #172B3D;
    font-family: 'Euclid', serif;
}

.ROW {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ROW_Center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ROW_Start {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}

.column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    outline: none;
    background-color: #DBEEFF;
    color: #0F8EFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Euclid', serif;
}

.mar50 {
    margin-top: 50px;
}

p {
    font-family: 'Euclid', serif !important;
}